 
.colorBoton {
    color: rgb(0, 0, 0);
    background-color: #00bcd4;
}
.colorBoton:hover {
    background-color: rgb(16, 138, 187);
}

.imagen {
    width: 250px;
    height: 250px;
    object-fit:  cover;
    margin-top: 7px;
}

 

 .colorBoton2 {
    color: rgb(0, 0, 0);
    background-color: #d8c987;
}

.colorBoton2:hover {
    color: rgb(0, 0, 0);
    background-color: #b89b1b;
}

 
.card2 {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.botonRojo {
    color: antiquewhite;
    background-color: rgb(204, 59, 59);
}

.botonRojo:hover {
    color: white;
    background-color: rgb(218, 32, 32);
}

.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }