.tarjeta {
    margin: 0.5rem;
    display: flex;
    align-items: center;
     

}
.colorBoton {
    color: white;
    background-color: #00bcd4;
}
.colorBoton:hover {
    background-color: rgb(16, 138, 187);
}

.imagen {
    width: 250px;
    height: 250px;
    object-fit:  cover;
    margin-top: 7px;
}

 .espacio {
    height: fit-content;
 }